@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
    font-family: 'BBBReadMe';
    src: url('../fonts/BBBReadMe/BBBReadMe-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'BBBReadMeBold';
    src: url('../fonts/BBBReadMe/BBBReadMe-Bold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}



/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgb(255, 243, 229);
  --color-text: #494342;
  --color-text-link: rgba(255, 81, 0, 0.8);
  --color-text-link-hover: rgba(255, 81, 0, 0.4);
  /* Font values */
  --font-text: 'BBBReadMe', 'BBBReadMeBold', 'Helvetica', 'Arial', sans-serif;
  --font-size: 24px;
  /* Margin values */
  --margin: 1rem;


  /* Examples of possible variables */

  --font-size-heading: calc(var(--font-size) * 2);
  --font-size-subheading: calc(var(--font-size) * 1.25);
  --font-size-caption: calc(var(--font-size) * 0.875);

  --margin-xs: calc(var(--margin) * 0.5);
  --margin-s: calc(var(--margin) * 1);
  --margin-m: calc(var(--margin) * 2);
  --margin-l: calc(var(--margin) * 3);
  --margin-xl: calc(var(--margin) * 5);

}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}




header {
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
}

.clarity{
 /* width: 50vw;
  align-self: flex-end;*/
  color: #7e6f6c;
  /*background-color: #ffffff;*/
}


.opening{
 width: 83.33vw;
 align-self: flex-end;
}
.trying{
  width: 50vw;
  align-self: center;
}
.theory{
  width: 66.67vw;
  align-self: flex-end;
}







h1{
  /* h1 style */
  font-size: clamp(
    var(--font-size-heading),
    10vw,
    calc(var(--font-size-heading) * 10)
  );
  font-family: 'BBBReadMeBold';
  -webkit-text-stroke: 3vw #ffffff;
  paint-order: stroke fill;

}

h2{
position: sticky;
top: 0;
margin-left: 0;
padding: 10px 0px 10px;
background: #fff3e5;
font-family: 'BBBReadMeBold';

}


p{
  /*text-indent: 2em;*/
  margin: 0;
}

.orange{
  color: #cb582c
}
.green{
color: #007a48
}
.pink{
  color: #b10069
}
.purr{
  color: #5c2d91
}

/*p.small{
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 100%;
}*/
.indent{
text-indent: 5vw;
}

img{
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
}





ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */
 
nav{
  
}

/* content */

main{
 
}

summary{
  
}






/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}





/* WEBSITE MEDIA QUERIES */

/* responsive typeface for various breaking points, sets the default 'rem' value */
@media (max-width: 299px) { :root{--font-size: 18px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 299px) and (max-width: 340px) { :root{--font-size: 19px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 340px) and (max-width: 440px) { :root{--font-size: 20px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 441px) and (max-width: 779px) { :root{--font-size: 19px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 780px) and (max-width: 992px) { :root{--font-size: 20px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 993px) and (max-width: 1200px) { :root{--font-size: 21px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 1201px) and (max-width: 1320px) { :root{--font-size: 22px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 1321px) { :root{--font-size: 24px;} html, body {font: var(--font-size) var(--font-text); } }

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */





  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}


